body {
  background: lightgrey;
  color: white;
  padding: 5px 20px;
}

body a {
  color: black;
  text-decoration: none;
}

body header {
  background: black;
  text-align: center;
  border-radius: 10px;
}

body header h1 {
  color: white;
}

body footer {
  display: -webkit-box;
  display: flex;
  border-radius: 15px;
  background: #333;
  min-height: 200px;
}

body footer p {
  margin: auto;
}

body .hide {
  margin: 20px;
}

body .content {
  margin: 20px;
}

body .content .category {
  background: grey;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

body .content .category > span a {
  color: white;
}

body .posts {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 20px;
}

body .posts .post {
  display: -webkit-box;
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 100%;
  background: white;
  color: black;
}

body .posts .post > * {
  margin: auto;
}

body .posts .post.ext {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

